
<div class="container_main" data-aos="fade-zoom-in"
data-aos-easing="ease-in-back"
data-aos-delay="100"
data-aos-offset="5">
        <ul class="nav nav-tabs">
            <li><a routerLink="/login" >LOGIN</a></li> 
          <li class="active"><a  >SIGN UP</a></li>
        </ul>
      
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
      
            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>New Customer</h3>
                        <p>Fill in the form below to get instant access:</p>
                    </div>
                    <div class="form-top-right">
                        <i class="fas fa-user-plus"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
