<div class="newsletter-row" >
  <div class="container">
    <div class="row"> 
      
      <!-- Footer Newsletter -->
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col1">
        <div class="newsletter-wrap">
          <h5>Newsletter</h5>
          <h4>Get Notified Of any Updates!</h4>
          <form action="#" method="post" id="newsletter-validate-detail1">
            <div id="container_form_news">
              <div id="container_form_news2">
                <input type="text" name="email" id="newsletter1" title="Sign up for our newsletter" class="input-text required-entry validate-email" placeholder="Enter your email address">
                <button type="submit" title="Subscribe" class="button subscribe"><span>SUBSCRIBE</span></button>
              </div>
              <!--container_form_news2--> 
            </div>
            <!--container_form_news-->
          </form>
        </div>
        <!--newsletter-wrap--> 
      </div>
    </div>
  </div>
  <!--footer-column-last--> 
</div>
