<div class=container_main>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">FEATURED VEHICLES</a></li>
    <li><a data-toggle="tab" href="#menu1">VEHICLES</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="row">
        <div class="col-md-3">
            <img class="small-car" src="assets\mitsubishi_PNG149.png" alt="HTML tutorial">
            <p>Renault</p>
        </div>
        <div class="col-md-3">
            <img class="small-car" src="assets\nissan.png" alt="HTML tutorial">
            <p>Mazda</p>
        </div>
        <div class="col-md-3">
            <img class="small-car" src="assets\toyota.png" alt="HTML tutorial">
            <p>Mazda</p>
        </div>
        <div class="col-md-3">
            <img class="small-car" src="assets\volkswagen_PNG1821.png" alt="HTML tutorial">
            <p>Mazda</p>
        </div>
    </div>
    <div class="row">      
        <div class="col-md-3">
            <img class="small-car" src="assets\ford.png" alt="HTML tutorial">
            <p>Mazda</p>
        </div>
        <div class="col-md-3">
            <img class="small-car" src="assets\hyndai.png" alt="HTML tutorial">
            <p>Mazda</p>
        </div>
        <div class="col-md-3">
            <img class="small-car" src="assets\mercedes_PNG.png" alt="HTML tutorial">
            <p>Mazda</p>
        </div>
        <div class="col-md-3">
            <img class="small-car" src="assets\suzukinn.png" alt="HTML tutorial">
            <p>Mazda</p>
        </div>

      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>
      <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
          <div class="col-md-2"></div>
        </div>
      </div>
  </div>



</div>

