<div class="container_main" data-aos="fade-zoom-in"
data-aos-easing="ease-in-back"
data-aos-delay="100"
data-aos-offset="5">
  <ul class="nav nav-tabs">
    <li class="active"><a >LOG IN</a></li>
    <li><a routerLink="/register" >SIGN UP</a></li> 
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">

      <div class="form-box">
        <div class="form-top">
          <div class="form-top-left">
            <h3>Returning Customer</h3>
            <p>Enter username and password to log on:</p>
          </div>
          <div class="form-top-right">
              <i class="fas fa-user-lock"></i>
          </div>
        </div>
        <div class="form-bottom">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <div *ngIf="success" class="alert alert-success">{{success}}</div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"> 
                <div class="form-group">
                    <input type="text" id="loginUsername" class="from-name form-control" placeholder="Username..." formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/><i class="fas fa-user"></i>
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">*Username is required</div>
                        <div *ngIf="f.username.errors.pattern">*Username is not valid</div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="password" id="loginPass" class="form-control"  placeholder="Password..."  formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/><i class="fas fa-key"></i>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">*Password is required</div>
                        <div *ngIf="f.password.errors.pattern">*Password should contain an upper Case, lower case and a character</div>
                        <div *ngIf="f.password.errors.minlength">*Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary" type="submit" id="login">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                  </div>
            </form>
        </div>
      </div>
      <div class="message" *ngIf="isDisplayed">
        <p>Successfully logged in!</p>
      </div>

      <div class="social-login">
        <h3>...or login with:</h3>
        <div class="social-login-buttons">
          <button class="btn btn-link-1 btn-link-1-facebook" (click)="signInWithFB()" href="#">
            <i class="fab fa-facebook-f"></i> Facebook
          </button>
          <button class="btn btn-link-1 btn-link-1-twitter" href="#">
            <i class="fab fa-twitter"></i> Twitter
          </button>
          <button class="btn btn-link-1 btn-link-1-google-plus" (click)="signInWithGoogle()" href="#">
            <i class="fab fa-google-plus-g"></i> Google Plus
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div>
    <h4>{{ user.name }}</h4>
    <p>{{ user.email }}</p>
  </div> -->