<div class="containerx" >
  <div class="wrapper">
    <!-- <div class="row title">
      <div class="col-md-12">
        <h2>Why CarDeal?</h2>
        <p>CarDeal is the Best Car Sale Service providing high quality cars at a reasonable price all over Mauritus.</p>
      </div>
    </div> -->
    <div class="row sub">
      <div class="col-xs-3 col-md-3 content">
        <div class="feature-box">
          <div class="icon">
            <i class="fas fa-award"></i>
          </div>
          <div class="content">
            <h3>World's #1</h3>
            <p>Largest Auto portal</p>
          </div>

          <!-- <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p> -->
        </div>
      </div>
      <div class="col-xs-3 col-md-3 content">
        <div class="feature-box">
          <div class="icon">
            <i class="fas fa-business-time"></i>
          </div>
          <div class="content">
            <h3>Offers</h3>
            <p>Stay Updated</p>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-md-3 content">
        <div class="feature-box">
          <div class="icon">
            <i class="fas fa-car"></i>
          </div>
          <div class="content">
            <h3>Car Sold</h3>
            <p>Every 4 minutes</p>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-md-3 content">
        <div class="feature-box">
          <div class="icon">
            <i class="fas fa-hammer"></i>
          </div>
          <div class="content">
            <h3>Affordable</h3>
            <p>Deal every month</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
