<!-- <div class="container">
  <div class="header">
    <h3>POPULAR BRANDS</h3>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Audi.png" alt="HTML tutorial">
    </div>
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Jaguar.png" alt="HTML tutorial">
    </div>
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Chevrolet.png" alt="HTML tutorial">
    </div>
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Ford.png" alt="HTML tutorial">
    </div>
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Honda.png" alt="HTML tutorial">
    </div>
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Land Rover.png" alt="HTML tutorial">
    </div>
  </div>
</div> -->
