.container img{
    width: 100%;
    padding-top: 50px;
}
.container{
    // background-image: url("../../assets/img-tools.jpg");
    background-color: #f7c143;
    max-height:350px;
    height: 150vh;
    margin-bottom: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:black;
}

h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h3 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h2:before,
h2:after {
    content: '';
    border-top: 1px solid black;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

h2:after {
    margin: 0 0 0 20px;
}

.container{
    width: 100%;
}

.fas{
    color:black;
    font-size:50px;
}

.title{
    text-align: center;
}

.content{
    text-align: center;
    padding-top: 30px;
}
p{
    font-size: 17px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100; 
}
.content p{
    font-size: 17px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 100;
}

.row.sub{
    margin: 0 auto;
}

@media only screen and (max-width: 1040px){
    p{
        display:none;
    }
}
@media only screen and (max-width: 740px){
    .fas{
        font-size:30px;
    }
    h3{
        font-size: 18px;
    }
    .container{
        height: 250vh;
    }
    .content p{
        display:none;
    }
}