<!-- <div class="container">
  <div class="header">
    <h3>POPULAR BRANDS</h3>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Audi.png" alt="HTML tutorial">
    </div>
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Jaguar.png" alt="HTML tutorial">
    </div>
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Chevrolet.png" alt="HTML tutorial">
    </div>
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Ford.png" alt="HTML tutorial">
    </div>
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Honda.png" alt="HTML tutorial">
    </div>
    <div class="col-md-2 col-xs-2">
      <img class="small-car" src="assets\logo\Land Rover.png" alt="HTML tutorial">
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row title">
    <div class="col-md-12">
      <h2>Why CarDeal?</h2>
      <p>CarDeal is the Best Car Sale Service providing high quality cars at a reasonable price all over Mauritus.</p>
    </div>
  </div>
  <div class="row sub">

    <div class="col-xs-4 col-md-4 content">
      <i class="fas fa-business-time">
        <h3>Quick Delivery</h3>
        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
      </i>
    </div>
    <div class="col-xs-4 col-md-4 content">
        <i class="fas fa-car">
          <h3>Wide Range of Cars</h3>
          <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
        </i>
    </div>
    <div class="col-xs-4 col-md-4 content">
        <i class="fas fa-hammer">
          <h3>Affordable High Quality Cars</h3>
          <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
        </i>
    </div>
  </div>
</div>