.logo{
    background-color: #343a40;
}
.container-fluid{
    background-color:white;
    color: white;
    border-top: 3px solid #eee;
    box-shadow: 0 5px 0 rgba(200,200,200,.2);
}


.navbar-toggle {
    float:left;
    margin-left: 40px;
}
.navbar{
    margin-bottom:0;
}
.container-fluid a{
    color: #343a40;
    font-size:18px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase
}

.navbar-header .navbar-brand{
    text-decoration: none;
    font-size:17px;
    font-weight: 300px;
}
.navbar-header .navbar-brand:hover{
    text-decoration: none;
    font-weight: 300px;
    border-bottom: none;

}

.container-fluid a:hover{
    background-color: #343a40;
    transition: all 0.4s cubic-bezier(0.8, 0, 0, 1);
    box-shadow: inset 0 -50px 0 0 #23292e;
    border-bottom: -1px solid #121518;
    color: #fff;
}
.container-fluid a:active{
    color:white;
    background-color: #343a40;
}
.navbar-nav .active a{
    background-color:#fbe122;
}

.navbar-right a:hover{
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a:focus{
    color:white;
    background-color: #343a40;
}
a:focus{
    text-decoration: none;
}
.navbar-default .navbar-nav>li>a:active{
    color:white;
    background-color: #343a40;
}

.logo img{
    width: 300px;
    margin-left: 35px;
    margin-top:15px;
}

.navbar-nav .li .a {
    color:white;
}


.navbar-nav .li .a {
    display: inline-block;
    border-top: 6px solid rgba(0,0,0,0);
    height: 51px;
    line-height: 51px;
    position: relative;
    top: -15px;
}
nav.collapse ul .li:hover {
    border-top: 6px solid #7ad3f7;
}

.btn:focus{
    outline: none;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 35px;
    border: none;
    justify-content: right;
    float: right;

  }
  

  .dropdown {
    position: relative;
    display: inline-block;
    justify-content: right;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
  }
  
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  

  .dropdown-content a {
    color: #343a40;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }



  .dropdown-content a:hover {background-color: #ddd;}
  

  .dropdown:hover .dropdown-content {display: block;}

  .dropdown:hover .dropbtn {}

  .nav-right{
    font-size:35px;
    color:white;
    justify-content: right;
    float: right;
    margin-right: 50px;
    margin-top: 10px;
}
.nav-right a{

   color:white;
}


.btn-default{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 35px;
}

.btn.btn-default.cart{
    font-size: 10px;
    padding-top:10px;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    background-color: transparent;
    border: none;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    background-color: transparent;
    color: white;
}

.btn .caret {
    display: none;
    margin-left: 0;
}

.dropdown-menu>li>a{
    padding: 10px 20px;
    background-color:#343a40;
    color:white;
    font-size:18px;
}
.dropdown-menu>li>a:hover{

    background-color:rgb(53, 51, 51);

}

.dropdown-menu{
    min-width: 190px;
    padding: 0;
    border-radius: 4px;
    right:0;
    left:auto;
}
.dropdown-menu a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.welcome{
    padding: 10px 20px;
    color: #343a40;
    background-color: #f7c143; 
    border-radius: 4px 4px 0px 0px;   
    font-size: 18px;
}

.navbar-default{
    border: none;
}
.navbar-default .navbar-collapse{
    max-width:1500px;
    margin: 0 auto;

}

.logo-resize{
    max-width: 1500px;
    margin:0 auto;
}

.active img{
    max-width: 185px;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child {  color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
.container{
    color: #343a40;
    width: 100%;
    
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.row img{
    margin-left:0;
}

tr{
    background:none;
}

tr:hover td {background:#343a40;}



.fas.fa-user{
    color:white;
    font-size: 35px;
    padding:10px;
}

.dropdown a{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dropdown a:hover{
    color:white;
    text-decoration:none;
}
.loginlabel{
    text-align:center;
}
.loginlabel:hover{
    text-align:center;
    cursor:pointer;
}

.cartlabel{
    font-size: 14px;
    margin-left: 8px;
    padding-top:5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

$shopping-cart-black: #343a40;
.fa-shopping-cart:before{
    color: white;
}
.fa-stack[data-count]:after{
  position:absolute;
  right:-32%;
  top:-17%;
  content: attr(data-count);
  font-size:50%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: #343a40;
  color:#343a40;
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: white;
  border-style:solid;
}
.fa-circle {
  color: white;
}

.red-cart {
	color: white; background:#343a40;
}

.logo-link:hover{
    cursor: pointer;
}
.logo-link:focus{
    outline: none;
}



.container .title{
    text-align: left;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 1px #eaeaea solid;
    margin-bottom: 10px;
    background: #343a40;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.container .title h2{
    color: #343a40;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
    padding: 22px 25px 22px 25px;
    position: relative;
    display: inline-block;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #f7c143;
    margin-top: 0px;
    min-width: 250px;
}

.container .title h2:after{
content: '';
    position: absolute;
    width: 60px;
    height: 100%;
    transform: skew(-35deg);
    right: -35px;
    top: 0;
    background-color: inherit;
    z-index: 0;
}

.fas.fa-user:hover{

}

.btn-success{
    background-color:blue;
}

@media only screen and (max-width: 600px) {
    .logo img{
        width: 183px;
        margin-top: 24px;
    }
    .dropdown .loginlabel .target-login{
        display: none;
    }
    .cartlabel{
        display: none;
    }
    .fas.fa-user{
        font-size: 31px;
    }
    .fa-stack-2x {
        font-size: 33px;
    }
    .dropdown:hover .dropdown-menu{
        display:none;
    }

}