.logo{
    background-color: #343a40;
    // background-image: linear-gradient(to bottom, #000000, #141414, #202020, #2d2d2d, #3b3a3a)
}
.container-fluid{
    // background-color:#3b3a3a;
    background-color:#343a40;
    color: white;
    border-top: 3px solid white;
}


.navbar-toggle {
    float:left;
    margin-left: 40px;
}
.navbar{
    margin-bottom:0;
}
.container-fluid a{
    color: white;
    font-size:18px;
    font-weight: 400;
    font-family: roboto,Sans-Serif,Arial;
    text-transform: uppercase
}

.navbar-header .navbar-brand{
    text-decoration: none;
    font-size:17px;
    font-weight: 300px;
}
.navbar-header .navbar-brand:hover{
    text-decoration: none;
    font-weight: 300px;
    // font-size:17px;
    border-bottom: none;

}

.container-fluid a:hover{
    color:white;
    // font-size:16px;
    // border-bottom: 3px solid white;
    background-color: rgb(53, 51, 51);

}
.container-fluid a:visited{
    color:white;

    font-size:16px;
}
.navbar-nav .active a{
    background-color:#343a40;
}

.navbar-right a:hover{
    text-decoration: none;
}

.logo img{
    width: 100px;
    height: 100px;
    margin-left: 35px;
}

.navbar-nav .li .a {
    color:white;
}


.navbar-nav .li .a {
    display: inline-block;
    border-top: 6px solid rgba(0,0,0,0);
    height: 51px;
    line-height: 51px;
    position: relative;
    top: -15px;
}
nav.collapse ul .li:hover {
    border-top: 6px solid #7ad3f7;
}


/* Dropdown Button */
.dropbtn {
    color: white;
    padding: 16px;
    font-size: 35px;
    border: none;
    justify-content: right;
    float: right;

  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    justify-content: right;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: #343a40;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {}

  .nav-right{
    font-size:35px;
    color:white;
    justify-content: right;
    float: right;
    margin-right: 50px;
    margin-top: 20px;
}
.nav-right a{

   color:white;
}


.btn-default{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 35px;
}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
    background-color: transparent;
    border: none;
}

.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    background-color: transparent;
    color: white;
}

.btn .caret {
    display: none;
    margin-left: 0;
}

.dropdown-menu>li>a{
    padding: 10px 20px;
    background-color:#343a40;
    color:white;
    font-size:18px;
}
.dropdown-menu>li>a:hover{

    background-color:rgb(53, 51, 51);

}

.dropdown-menu{
    min-width: 190px;
    padding: 0;
    border-radius: 4px;
}

.welcome{
    padding: 10px 20px;
    color: #343a40;
    background-color: #f7c143; 
    border-radius: 4px 4px 0px 0px;   
    font-size: 18px;
}

.navbar-default{
    border: none;
}
.navbar-default .navbar-collapse{
    max-width:1500px;
    margin: 0 auto;

}

.logo-resize{
    max-width: 1500px;
    margin:0 auto;
}

.active img{
    max-width: 185px;
}

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
	table#cart tbody tr td:first-child {  color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}
.container{
    color: white;
    width: 100%;
    
}

.row img{
    margin-left:0;
}

tr{
    background:none;
}

tr:hover td {background:#343a40;}

// .navbar-default .navbar-collapse, .navbar-default .navbar-form{
//     width:1170px;
//     margin:0 auto;
// }

.fas.fa-user{
    color:white;
    font-size: 35px;
    padding:10px;
}

.dropdown a{
    color:white;
}

.dropdown a:hover{
    color:white;
    text-decoration:none;
}
.loginlabel{
    text-align:center;
}
.loginlabel:hover{
    text-align:center;
    cursor:pointer;
}

.cartlabel{
    font-size: 14px;
}