 <nav class="navbar navbar-default">
  <div class="container-top">
    <div class="logo">
      <div class="logo-resize">
        <div class="row">
          <div class="col-md-4 col-xs-2">
            <img class="logo-link" src="assets\onlinelogomaker-101919-1036-1466.png" routerLink="/">
          </div>
          <div class="col-md-8">
            <span class="dropdown">
              <!-- <button (click)="showDialog = !showDialog" class="btn btn-default dropdown-toggle cart" type="button"
                id="dropdownMenu1"><span class="fa-stack fa-2x has-badge" data-count="4"> -->
              <button (click)="navigate()" class="btn btn-default dropdown-toggle cart" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="fa-stack fa-2x has-badge" data-count="">
                  <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
                  <i style ="" class="fas fa-shopping-cart fa-stack-2x red-cart"></i>
                </span>
                <div class="cartlabel">CART</div>
              </button>

              <!-- <app-dialog [(visible)]="showDialog">
                <div class="container">
                  <app-cart></app-cart>
                </div>
                <button (click)="showDialog = !showDialog" class="btn">Close</button>
              </app-dialog> -->
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <app-cart></app-cart>
              </ul>
            </span>

            <ul class="dropdown">
              <div class="loginlabel">
                <li *ngIf="!currentUser"><a routerLink="/login"><i class="nav-item nav-link fas fa-user"></i></a>
                  <div *ngIf="!currentUser"><a class="target-login" routerLink="/login">LOGIN / REGISTER</a></div>
                </li>
                <li *ngIf="currentUser"><i class="nav-item nav-link fas fa-user"></i>
                <div *ngIf="currentUser"><a class="nav-item nav-link" (click)="logout()">LOGOUT</a></div>
                </li>

              </div>
            </ul>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Home </a></li>
        <li><a routerLink="/inventory">Cars</a></li>
        <li><a routerLink="/contact">Contact us</a></li>
        <li><a routerLink="/about-us">About us</a></li>
      </ul>
    </div>
  </div>

</nav> 



