<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="assets\Suzuki-Swift\marutisuzuki-swift-75c42aa0.jpg" />
            </div>
            <div class="tab-pane" id="pic-2"><img src="assets\Suzuki-Swift\marutisuzuki-swift-75c42aa0.jpg" /></div>
            <div class="tab-pane" id="pic-3"><img src="assets\Suzuki-Swift\marutisuzuki-swift-75c42aa0.jpg" /></div>
            <div class="tab-pane" id="pic-4"><img src="assets\Suzuki-Swift\marutisuzuki-swift-75c42aa0.jpg" /></div>
            <div class="tab-pane" id="pic-5"><img src="assets\Suzuki-Swift\marutisuzuki-swift-75c42aa0.jpg" /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                  src="assets\Suzuki-Swift\marutisuzuki-swift-75c42aa0.jpg" /></a></li>
            <li><a data-target="#pic-2" data-toggle="tab"><img
                  src="assets\Suzuki-Swift\marutisuzuki-swift-75c42aa0.jpg" /></a></li>
            <li><a data-target="#pic-3" data-toggle="tab"><img
                  src="assets\Suzuki-Swift\marutisuzuki-swift-75c42aa0.jpg" /></a></li>
            <li><a data-target="#pic-4" data-toggle="tab"><img
                  src="assets\Suzuki-Swift\marutisuzuki-swift-75c42aa0.jpg" /></a></li>
            <li><a data-target="#pic-5" data-toggle="tab"><img
                  src="assets\Suzuki-Swift\marutisuzuki-swift-75c42aa0.jpg" /></a></li>

          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">Nissan - Micra</h3>
          <h4 class="description"> Description: </h4>
          <p class="product-description">Nissan Micra 2018 is primarily an updated version of the hatchback, which
            gets additional comfort and safety features. There are no changes to the exterior and interior
            styling. It also retains the same mechanical set-up, which means that it continues featuring the same
            petrol as well as diesel engines. Transmission choices have also been retained. The Nissan Micra
            variants include XL and XV trims in manual and CVT options. With the addition of new features, the
            Nissan Micra price in India receives a slight bump.</p>
          <div class="specifications row">
            <div class="mileage-wrap col-md-4 col-sm-4 col-xs-12">
              <a class="mileage">
                <img src="assets\sales-spec\mileage.png" />
                <div class="mileagetag">Mileage</div>

              </a>
              <p>19.34 kmpl</p>
            </div>
            <div class="engine-wrap col-md-4 col-sm-4 col-xs-12">
              <a class="engine">
                <img src="assets\sales-spec\motor.png" />
                <div class="enginetag">Engine</div>
              </a>
              <p>1198 cc</p>
            </div>
            <div class="transmission-wrap col-md-4 col-sm-4 col-xs-12">
              <a class="transmission">
                <img src="assets\sales-spec\transmission.png" />
                <div class="transmissiontag">Transmission</div>
              </a>
              <p>Automatic</p>
            </div>
          </div>

          <h5 class="price">current price: <span>Rs400,500</span></h5>
          <p class="vote"><strong>91%</strong> of buyers enjoyed this product!</p>
          <div class="action">
            <button class="continue-shopping btn btn-default" type="button"><i class="fas fa-arrow-left"></i>   Continue Shopping</button>
            <button class="add-to-cart btn btn-default" type="button"><i class="fas fa-cart-arrow-down"></i> Add to cart</button>

          </div>
          <!-- <div class="form-box">
              <div class="form-top">
                <div class="form-top-left">
                  <h3>Ask Us</h3>
                  <p>Please fill the below form with your query:</p>
                </div>
                <div class="form-top-right">
                </div>
              </div>
              <div class="form-bottom">
                <form role="form" action="" method="post" class="login-form">
                  <div class="form-group">
                    <label class="sr-only" for="form-name">Username</label>
                    <input type="text" name="form-name" placeholder="Name..." class="form-name form-control"><i class="fa fa-user-o" aria-hidden="true"></i>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-email">Password</label>
                    <input type="email" name="form-email" placeholder="Email..." class="form-email form-control"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="form-message">Message</label>
                    <textarea class="form-control" id="message" rows="6" placeholder="Message..." required></textarea><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </div>
                  <button type="submit" class="btn">Submit</button>
                </form>
              </div>
            </div> -->
        </div>
      </div>
    </div>
  </div>
