<div class="container">
  <div class="card">
    <div class="container-fluid">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">

            <div class="tab-pane active" id="pic-1"><img [src]="carDetails[0].carImage1" />
            </div>
            <div class="tab-pane" id="pic-2"><img [src]="carDetails[0].carImage2" /></div>
            <div class="tab-pane" id="pic-3"><img [src]="carDetails[0].carImage3" /></div>
            <div class="tab-pane" id="pic-4"><img [src]="carDetails[0].carImage4" /></div>
            <div class="tab-pane" id="pic-5"><img [src]="carDetails[0].carImage5" /></div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab">
                <img [src]="carDetails[0].carImage1" /></a></li>
            <li><a data-target="#pic-2" data-toggle="tab">
                <img [src]="carDetails[0].carImage2" /></a></li>
            <li><a data-target="#pic-3" data-toggle="tab">
                <img [src]="carDetails[0].carImage3" /></a></li>
            <li><a data-target="#pic-4" data-toggle="tab">
                <img [src]="carDetails[0].carImage4" /></a></li>
            <li><a data-target="#pic-5" data-toggle="tab">
                <img [src]="carDetails[0].carImage5" /></a></li>
          </ul>

        </div>

        <div class="details col-md-6">
          <h3 class="product-title"><span>{{carDetails[0].brand}} </span><span>{{carDetails[0].model}}</span></h3>
          <span class="rating">
            <span class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </span>
            <span class="review-no"> 41 reviews</span>
          </span>
          <!--  -->



          <h5 class="price"><span>Rs {{carDetails[0].price}}</span></h5>
          <p class="vote"><strong>91%</strong> of buyers enjoyed this product!</p>
          <div class="action">
            <button routerLink="/inventory" class="continue-shopping btn btn-default" type="button"><i
                class="fas fa-arrow-left"></i> Continue
              Shopping</button>
            <!-- <button [routerLink]="['/cart', { id:carDetails[0].id }]" class="add-to-cart btn btn-default"
              type="button"><i class="fas fa-cart-arrow-down"></i> Add to
              cart</button> -->
            <button (click)='incrementCart()' class="add-to-cart btn btn-default" type="button"><i
                class="fas fa-cart-arrow-down"></i> Add to
              cart</button>
          </div>

          <div class="specifications row">
            <div class="mileage-wrap col-md-4 col-sm-4 col-xs-12">
              <div class="icons-space">
                <a class="mileage">
                  <img src="assets\sales-spec\mileage.png" />
                  <div class="mileagetag">Mileage</div>

                </a>
                <p>{{carDetails[0].mileage}}</p>
              </div>
            </div>
            <div class="engine-wrap col-md-4 col-sm-4 col-xs-12">
              <div class="icons-space">
                <a class="engine">
                  <img src="assets\sales-spec\motor.png" />
                  <div class="enginetag">Engine</div>
                </a>
                <p>1198 cc</p>
              </div>
            </div>
            <div class="transmission-wrap col-md-4 col-sm-4 col-xs-12">
              <div class="icons-space">
                <a class="transmission">
                  <img src="assets\sales-spec\transmission.png" />
                  <div class="transmissiontag">Transmission</div>
                </a>
                <p>{{carDetails[0].transmission}}</p>
              </div>
            </div>
          </div>
          <p class="small-description">Aenean et interdum urna. Curabitur quis enim vel justo pulvinar facilisis
            placerat in lorem. Maecenas ornare elit quis orci tincidunt, at lacinia dolor vulputate. Morbi sagittis ante
            at mattis venenatis. Ut ex risus, auctor id lectus in, auctor tempus massa. Aliquam erat volutpat. Sed
            vitae.</p>

          <ul class="shipping-pro">
            <li>After Sales Servicing</li>
            <li>5 Years Warranty</li>
            <li>Member Discount</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- 
  <h3>You selected</h3>
  <h2>{{carDetails[0].title}}</h2>
  <h2>{{carDetails[0].id}}</h2>
  {{carDetails | json}} -->
</div>
<div class="container-bottom">
  <div class="row">
    <div class="container-bottom-align col-md-8">

      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
          <ul class="bottom nav nav-tabs">
            <li class="active"><a href="#tab1default" data-toggle="tab">PRODUCT DESCRIPTION</a></li>
            <li><a href="#tab2default" data-toggle="tab">PAYMENT OPTION</a></li>
            <li><a href="#tab3default" data-toggle="tab">DEFAULT 3</a></li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1default">
              <h4 class="description"> Description: </h4>
              <p class="product-description">Aenean et interdum urna. Curabitur quis enim vel justo pulvinar facilisis
                placerat in lorem. Maecenas ornare elit quis orci tincidunt, at lacinia dolor vulputate. Morbi sagittis
                ante
                at mattis venenatis. Ut ex risus, auctor id lectus in, auctor tempus massa. Aliquam erat volutpat. Sed
                vitae
                ultrices mi, id viverra nibh. Aliquam vitae ante gravida, molestie tellus vitae, dignissim odio. Integer
                porta vehicula porttitor. Cras gravida porttitor libero, in dictum odio vestibulum a. Morbi non interdum
                nisl. Donec vitae imperdiet metus.</p>
              <br>
              <h4 class="description"> Features & Options: </h4>
              <p class="product-description">Aenean et interdum urna. Curabitur quis enim vel justo pulvinar facilisis
                placerat in lorem. Maecenas ornare elit quis orci tincidunt, at lacinia dolor vulputate. Morbi sagittis
                ante
                at mattis venenatis. Ut ex risus, auctor id lectus in, auctor tempus massa. Aliquam erat volutpat. Sed
                vitae
                ultrices mi, id viverra nibh. Aliquam vitae ante gravida, molestie tellus vitae, dignissim odio. Integer
                porta vehicula porttitor. Cras gravida porttitor libero, in dictum odio vestibulum a. Morbi non interdum
                nisl. Donec vitae imperdiet metus.</p>
            </div>
            <div class="tab-pane fade" id="tab2default">
              <div class="col-md-12 paymentCalc">

                <div class="col-md-6">

                  <form id="loanCalc" action="" method="get" class="calculate-loan">
                    <div class="col-md-12">
                      <h4>Calculate Your Auto Loan Payment</h4>
                      <div class="form-group">
                        <label for="vehiclePrice">Vehicle Price</label>
                        <input type="text"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                          class="form-control payment-option" id="vehiclePrice" placeholder="Vehicle Price">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="downPayment">Down Payment</label>
                        <input type="text"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                          class="form-control payment-option" id="downPayment" placeholder="Down Payment" value="0">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="tradeValue">Trade In Value</label>
                        <input type="text"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                          class="form-control payment-option" id="tradeValue" placeholder="Trade In Value" value="0">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="intRate">Interest Rate</label>
                        <input type="text"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                          class="form-control payment-option" id="intRate" placeholder="Interest Rate" value="3.25">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="loanTerm">Loan Term</label>
                        <input type="text"
                          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                          class="form-control payment-option" id="loanTerm" placeholder="Loan Term (ex: 36 Months)">
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                      <button class="btn calcBtn" (click)="calculatePayments()" id="calculate"
                        value="Calulate">Calculate</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-6">
                  <div id="paymentResults">

                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab3default">Default 3</div>
            <div class="tab-pane fade" id="tab4default">Default 4</div>
            <div class="tab-pane fade" id="tab5default">Default 5</div>
          </div>
        </div>
      </div>

    </div>
    <div class="more col-md-4">
      <form class="form-horizontal" name="form" action="" method="post" (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm" novalidate>
        <fieldset>
          <legend class="text-center">ASK FOR MORE DETAILS</legend>

          <!-- Name input-->
          <div class="form-group">
            <input type="text" class="from-name form-control" name="firstName" [(ngModel)]="model.firstName"
              #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" placeholder="Name..."
              required /><i class="fas fa-user"></i>
            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
              <div *ngIf="firstName.errors.required">*First Name is required</div>
            </div>
          </div>

          <!-- Email input-->
          <div class="form-group">
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="Email..." required email /><i
              class="fas fa-envelope"></i>
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">*Email is required</div>
              <div *ngIf="email.errors.email">*Email must be a valid email address</div>
            </div>
          </div>
          <!-- Message body -->
          <div class="form-group">
            <label class="sr-only" for="form-message">Message</label>
            <textarea class="form-control" id="message" rows="6" name="message" [(ngModel)]="model.message"
              #message="ngModel" [ngClass]="{ 'is-invalid': f.submitted && message.invalid }" placeholder="Message..."
              required></textarea><i class="fas fa-pen-alt"></i>
            <div *ngIf="f.submitted && message.invalid" class="invalid-feedback">
              <div *ngIf="message.errors.required">*Message is required</div>
            </div>
          </div>
          <!-- Form actions -->
          <div class="form-group">
            <div class="col-md-12 text-right">
              <button (click)="showDialog = !showDialog" type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<div *ngIf="submitted">
  <app-dialog [(visible)]="showDialog">
    <div id="container">
      <button (click)="showDialog = !showDialog; close()" class="btn-close">×</button>
      <div class="thank-you-pop">
        <img src="http://goactionstations.co.uk/wp-content/uploads/2017/03/Green-Round-Tick.png" alt="">
        <h1>Thank You!</h1>
        <p>Your submission is received and we will contact you soon</p>
      </div>
    </div>
  </app-dialog>
</div>
