.collapsed-icon-toggle.collapsed .on-closed {
    display: initial;
  }
  .collapsed-icon-toggle.collapsed .on-opened {
    display: none;
  }
  .collapsed-icon-toggle .on-closed {
    display: none;
  }
  .collapsed-icon-toggle .on-opened {
    display: initial;
  }
  .scroll-v-250px {
    max-height: 250px;
    overflow-y: scroll;
  }
  .padding-v-xs {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .btn.ico span.icon {
    opacity: 0;
  }
  .btn.ico.active span.icon {
    opacity: 1;
  }

  .filter{
      margin-top: 20px;
  }

  .panel-primary>.panel-heading{
      background-color: #343a40;
      border-bottom: 2px solid white;
      padding: 12px 15px;
      border-radius: 4px 4px 0 0;
  }

  .panel-primary{
      border: none;
  }

  .panel-body{
      border: 1px solid #ddd;
      border-radius: 0 0 4px 4px;
      background-color: #eee;
  }
  
  .list-group-item{
      padding: 2px 15px;
  }


//   LEFT 

/*****************globals*************/
body {
    font-family: 'open sans';
    overflow-x: hidden; }
  
  img {
    max-width: 100%; }
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top:20px;
    margin-bottom:20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
           }
    @media screen and (max-width: 996px) {
      .preview {
        margin-bottom: 20px; } }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 0; }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
    .preview-thumbnail.nav-tabs li {
      width: 18%;
      margin-right: 2.5%; }
      .preview-thumbnail.nav-tabs li img {
        max-width: 100%;
        display: block; }
      .preview-thumbnail.nav-tabs li a {
        padding: 0;
        margin: 0; }
      .preview-thumbnail.nav-tabs li:last-of-type {
        margin-right: 0; }
  
  .tab-content {
    overflow: hidden; }
    .tab-content img {
      width: 100%;
      -webkit-animation-name: opacity;
              animation-name: opacity;
      -webkit-animation-duration: .3s;
              animation-duration: .3s; }
  
  .card {
    // padding: 3em;
    line-height: 1.5em;
    border-radius: 4px; }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  
  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top:20px;
    margin-bottom:20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  
  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  
  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
    font-size: 30px;
   }
  
  .checked, .price span {
    color: #f7c143; }
  
  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px; }
  
  .product-title {
    margin-top: 0; }
  
  .size {
    margin-right: 10px; }
    .size:first-of-type {
      margin-left: 40px; }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
    .color:first-of-type {
      margin-left: 20px; }
  
  .add-to-cart, .like {
    background: #f7c143;
    padding: 10px 10px;
    border: none;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    -webkit-transition: background .3s ease;
            transition: background .3s ease; }
    .add-to-cart:hover, .like:hover {
      background: #343a40;
      color: white; }

      .continue-shopping, .like {
        background: #343a40;
        padding: 10px 10px;
        border: none;
        font-weight: 300;
        color: #fff;
        font-size: 16px;
        font-family: "Roboto", sans-serif;
        margin-right:20px;
        -webkit-transition: background .3s ease;
                transition: background .3s ease; }
        .continue-shopping:hover, .like:hover {
          background: #f7c143;
          color: white; }
  
  .not-available {
    text-align: center;
    line-height: 2em; }
    .not-available:before {
      font-family: fontawesome;
      content: "\f00d";
      color: #fff; }
  
  .orange {
    background: #ff9f1a; }
  
  .green {
    background: #85ad00; }
  
  .blue {
    background: #0076ad; }
  
  .tooltip-inner {
    padding: 1.3em; }
  
  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  /*# sourceMappingURL=style.css.map */

  .container{
      width: 100%;
      
  }


  // .mileage-wrap,.engine-wrap,.transmission-wrap{
  //     border: 1px solid #343a40;
  //     background-color:#f7c143;
  // }
  .icons-space{
      border: 1px solid #343a40;
      background-color:#f7c143;
  }

  .mileage-wrap,.engine-wrap,.transmission-wrap{
      text-align: center;
  }
  .mileage img,.engine img, .transmission img{
      justify-content: center;
      max-width: 70px;
  }
  .mileage ,.engine , .transmission {
      
  }
  p{
      text-align: justify;
  }
  .enginetag,.transmissiontag,.mileagetag{
      color: black;
  }
  .enginetag:hover,.transmissiontag:hover,.mileagetag:hover{

    text-decoration: none!important;
}

a:hover, a:link, a:visited{
    text-decoration: none;
}

.mileage-wrap p, .engine-wrap p, .transmission-wrap p{
    text-align: center;
    font-weight: 600;
}

.row{
  margin-right:0;
  margin-left:0;
}


.wrapper{
  border-radius: 4px;
}

p{
  font-size: 18px;
}

h4{
  font-size:23px;
  font-weight: 600;
}