<div class="row">
  <div class="col-md-6 col-xs-12 amountDisplay">
    <div class="row amount">
      <div class="col-md-10 col-xs-9">
        <input class="number" type="number" id="numberOfItems" [(ngModel)]="value" min="1" max="15"
        placeholder="Enter amount to be displayed...">
      </div>
      <div class="col-md-2 col-xs-3">
        <button id="add" (click)="onAdd()">Enter</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    
  </div>
</div>


<div class="card" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="5"
  *ngFor="let cardetail of cardetails | paginate: {itemsPerPage: numberOfItems, currentPage: actualPage}">
  <div class="container-fliud">
    <div class="wrapper row">
      <div class="preview col-md-4 col-xs-12">

        <div class="preview-pic tab-content">
          <div class="tab-pane active" id="pic-1">
            <img src="{{cardetail.carImage}}" /></div>
        </div>


      </div>
      <div class="details col-md-8 col-xs-12">
        <div class="row">
          <div class="col-md-6">
            <h2 class="product-title">{{ cardetail.brand }}</h2>
          </div>
          <div class="col-md-6">
            <div class="more-details"><button (click)="onClick(cardetail.id)">
                <i class="fa fa-list"></i> More details</button></div>
          </div>
        </div>
        <table id="customers">
          <tr>
            <div class="bold">
              <td>Model:</td>
            </div>
            <td>{{ cardetail.model }}</td>
          </tr>
          <tr>
            <div class="bold">
              <td>Engine:</td>
            </div>
            <td>{{ cardetail.engine }}</td>
          </tr>
          <tr>
            <div class="bold">
              <td>Mileage:</td>
            </div>
            <td>{{ cardetail.mileage }}</td>
          </tr>
          <tr>
            <div class="bold">
              <td>Fuel:</td>
            </div>
            <td>{{ cardetail.fuel }}</td>
          </tr>
          <tr>
            <div class="bold">
              <td>Year:</td>
            </div>
            <td>{{ cardetail.year }}</td>
          </tr>
          <tr>
            <div class="bold">
              <td>Type:</td>
            </div>
            <td>{{ cardetail.type }}</td>
          </tr>
        </table>
        <h2 class="price">Rs {{cardetail.price}}</h2>
      </div>
    </div>
  </div>
</div>
<div class="page" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="5">
  <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
</div>
