<div class="container" *ngIf="total > 0" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
  data-aos-offset="5">
  <table>
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Image</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col" class="text-center">Subtotal</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td scope="row" data-label="Product">{{item.product.brand}} {{item.product.model}}</td>
        <td class="hidden-xs" data-label="Image"><img [src]="item.product.carImage" class="img-responsive" /></td>
        <td data-label="Price">Rs {{item.product.price}}</td>
        <td data-label="Quantity">{{item.quantity}}</td>
        <td data-label="Subtotal">Rs {{item.product.price * item.quantity}}</td>
        <td data-label="Option"><button (click)="remove(item.product.id)" class="btn btn-danger btn-sm"><i
              class="fa fa-trash-o"></i></button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr class="visible-xs">
        <td class="text-center"><strong>Total {{total}}</strong></td>
      </tr>
      <tr>
        <td><a routerLink="/inventory" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
        </td>
        <td colspan="3" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Total Rs {{total}}</strong></td>
        <td><a (click)="performCheckout()" class="btn btn-success btn-block">Checkout <i
              class="fa fa-angle-right"></i></a>
          <!-- <td><a routerLink='/checkout' class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a> -->
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div class="container-emptyCart mtop" *ngIf="total == 0" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="1" data-aos-offset="1">
  <div class="wrapper-emptyCart">
    <h2>Shopping Cart is Empty</h2>
    <img src='../../assets/EmptyCart3.jpg'>
    <h2>Please click <a routerLink="/inventory">here</a> to continue shopping.</h2>
  </div>
</div>

<div class="container-checkout" *ngIf="checkout && total > 0" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100" data-aos-offset="5">
  <div class="wrapper-checkout">
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
</div>
