<div class="main-container">
  <div class="container" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="100"
    data-aos-offset="5">
    <div class="row">
      <div class="col-md-8 col-s-12">
        <div class="about col-md-12">
          <div class="about-us top">
            <h2 class="main_heading">CarDeal <i class="fas fa-car-side"></i></h2>
          </div>
          <div class="about-us bottom">
            <p class="text-size-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
              also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
              1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br>
              <br>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
              like Aldus PageMaker including versions of Lorem Ipsum.<br>
              <br>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
              like Aldus PageMaker including versions of Lorem Ipsum.<br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="col-md-12">
          <div class="opening-hours">
            <div class="th-widgettitle hours">
              <h3>Working Hours <i class="fas fa-clock"></i></h3>
            </div>
            <section class="th-widgetcontent th-widgettiming">
              <ul>
                <li> <span>Monday</span> <span>9:00 am to 6:00 pm</span> </li>
                <li> <span>Tuesday</span> <span>9:00 am to 6:00 pm</span> </li>
                <li> <span>Wednesday</span> <span>9:00 am to 6:00 pm</span> </li>
                <li> <span>Thursday</span> <span>9:00 am to 6:00 pm</span> </li>
                <li> <span>Friday</span> <span>9:00 am to 6:00 pm</span> </li>
                <li> <span>Saturday</span> <span>10:00 am to 5:00 pm</span> </li>
                <li> <span>Sunday</span> <span>10:00 am to 5:00 pm</span> </li>
              </ul>
            </section>
          </div>
        </div>
        <div class="col-md-12">
          <div class="contact">
            <section class="th-widgettitle contact-details">
              <h3>Contact Details <i class="fas fa-phone"></i></h3>
            </section>
            <section class="th-widgetcontent th-widgettiming">
              <ul>
                <li> <i class="fas fa-map-marker-alt"></i> <a
                    href="https://www.google.com/maps/place/La+Touche+Rd,+Vacoas-Phoenix/@-20.3063872,57.4878141,17z/data=!4m13!1m7!3m6!1s0x217c5c94b4a02f59:0x23b80aa96101fefd!2sLa+Touche+Rd,+Vacoas-Phoenix!3b1!8m2!3d-20.3064468!4d57.4900308!3m4!1s0x217c5c94b4a02f59:0x23b80aa96101fefd!8m2!3d-20.3064468!4d57.4900308"
                    target="_self"> 22, La touche road, Avenue John Kennedy, <br> Vacoas</a> </li>
                <li> <i class="fas fa-phone-alt"></i> <a href="tel:(416) 555-5555" target="_self"> (541) 754-3010</a>
                </li>
                <li> <i class="fas fa-envelope"></i> <a href="mailto:CarDeal@gmail.com" target="_self">
                    CarDeal@gmail.com</a> </li>
              </ul>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
