<div class="container">
  <div class="col-md-8">

    <section class="about-content section-padding">
      <div class="text-left">
        <section class="row">
          <section class="col-sm-12">
            <h2 class="main_heading"> Car Spot</h2>
            <p class="text-size-medium">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
              Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
              galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but
              also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
              1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
              publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br>
              <br>
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
              industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
              scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
              of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
              like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
          </section>
          <section class="second_content"> </section>
        </section>
      </div>
    </section>
  </div>
  <div class="col-md-4">
    <section class="about-content section-padding">

      <aside id="th-sidebar" class="th-sidebar">
        <section class="th-widget">
          <section class="th-widgettitle">
            <h3>Working Hours</h3>
          </section>
          <section class="th-widgetcontent th-widgettiming">
            <ul>
              <li> <span>Monday</span> <span>9:00 am to 6:00 pm</span> </li>
              <li> <span>Tuesday</span> <span>9:00 am to 6:00 pm</span> </li>
              <li> <span>Wednesday</span> <span>9:00 am to 6:00 pm</span> </li>
              <li> <span>Thursday</span> <span>9:00 am to 6:00 pm</span> </li>
              <li> <span>Friday</span> <span>9:00 am to 6:00 pm</span> </li>
              <li> <span>Saturday</span> <span>10:00 am to 5:00 pm</span> </li>
              <li> <span>Sunday</span> <span>10:00 am to 5:00 pm</span> </li>
            </ul>
          </section>
        </section>
        <section class="th-widget">
          <section class="th-widgettitle">
            <h3>Contact Details</h3>
          </section>
          <section class="th-widgetcontent th-widgetaddress">
            <strong>
              <ul>
                <li> <i class="flaticon-location"></i> <em> 1 Yonge St #1801, Toronto, ON M5E 1W7 </em> </li>
                <li> <i class="flaticon-technology-4"></i> <em> <a href="tel:(416) 555-5555" target="_self">(416)
                      555-5555</a>
                  </em> </li>
                <li> <i class="flaticon-web"></i> <em> <a href="mailto:sales@zopdealer.com"
                      target="_self">sales@zopdealer.com</a>
                  </em> </li>
              </ul>
            </strong></section><strong>
          </strong>
        </section><strong>
        </strong>
      </aside><strong>

      </strong>
    </section><strong>
    </strong>
  </div><strong>
  </strong>
</div>
