<div class="container-fluid">
  <div class="row">
    <div class="filter">
      <div class="col-sm-3">
        <div class="panel panel-primary behclick-panel">
          <div class="panel-heading">
            <h3 class="panel-title">Search Filter Car</h3>
          </div>
          <div class="panel-body">
            <div class="panel-heading ">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse0">
                  <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Price
                </a>
              </h4>
            </div>
            <div class="panel-collapse collapse in">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      0 - 1000$
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      1000$ - 2000$
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      2000$ - 6000$
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      More Than 6000$
                    </label>
                  </div>
                </li>
              </ul>
            </div>

            <div class="panel-heading ">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">
                  <i class="indicator fa fa-caret-down" aria-hidden="true"></i> Brand
                </a>
              </h4>
            </div>
            <div class="panel-collapse collapse in">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      citroen
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      benz
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      bmw
                    </label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down"
                    aria-hidden="true"></i> Color</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      red
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      blue
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      green
                    </label>
                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2"><i class="indicator fa fa-caret-right"
                    aria-hidden="true"></i> Collapsible list group</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <ul class="list-group">
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      7
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      8
                    </label>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                      9
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9">

      <div class="container">
        <div class="card">
          <div class="container-fliud">
            <div class="wrapper row">
              <div class="preview col-md-6">

                <div class="preview-pic tab-content">
                  <div class="tab-pane active" id="pic-1"><img
                      src="assets\Nissan-Micra\ef8a9e1f95fa942175dc0ad17c2859f3.jpg" /></div>
                  <div class="tab-pane" id="pic-2"><img
                      src="assets\Nissan-Micra\ef8a9e1f95fa942175dc0ad17c2859f3.jpg" /></div>
                  <div class="tab-pane" id="pic-3"><img
                      src="assets\Nissan-Micra\ef8a9e1f95fa942175dc0ad17c2859f3.jpg" /></div>
                  <div class="tab-pane" id="pic-4"><img
                      src="assets\Nissan-Micra\ef8a9e1f95fa942175dc0ad17c2859f3.jpg" /></div>
                  <div class="tab-pane" id="pic-5"><img
                      src="assets\Nissan-Micra\ef8a9e1f95fa942175dc0ad17c2859f3.jpg" /></div>
                </div>
                <ul class="preview-thumbnail nav nav-tabs">
                  <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                        src="assets\Nissan-Micra\ef8a9e1f95fa942175dc0ad17c2859f3.jpg" /></a></li>
                  <li><a data-target="#pic-2" data-toggle="tab"><img
                        src="assets\Nissan-Micra\ef8a9e1f95fa942175dc0ad17c2859f3.jpg" /></a></li>
                  <li><a data-target="#pic-3" data-toggle="tab"><img
                        src="assets\Nissan-Micra\ef8a9e1f95fa942175dc0ad17c2859f3.jpg" /></a></li>
                  <li><a data-target="#pic-4" data-toggle="tab"><img
                        src="assets\Nissan-Micra\ef8a9e1f95fa942175dc0ad17c2859f3.jpg" /></a></li>
                  <li><a data-target="#pic-5" data-toggle="tab"><img
                        src="assets\Nissan-Micra\ef8a9e1f95fa942175dc0ad17c2859f3.jpg" /></a></li>

                </ul>

              </div>
              <div class="details col-md-6">
                <h3 class="product-title">Nissan - Micra</h3>
                <h4 class="description"> Description: </h4>
                <p class="product-description">Nissan Micra 2018 is primarily an updated version of the hatchback, which
                  gets additional comfort and safety features. There are no changes to the exterior and interior
                  styling. It also retains the same mechanical set-up, which means that it continues featuring the same
                  petrol as well as diesel engines. Transmission choices have also been retained. The Nissan Micra
                  variants include XL and XV trims in manual and CVT options. With the addition of new features, the
                  Nissan Micra price in India receives a slight bump.</p>
                <div class="specifications row">
                  <div class="mileage-wrap col-md-4 col-sm-4 col-xs-12">
                    <a class="mileage">
                      <img src="assets\sales-spec\mileage.png" />
                      <div class="mileagetag">Mileage</div>
                      
                    </a>
                    <p>19.34 kmpl</p>
                  </div>
                  <div class="engine-wrap col-md-4 col-sm-4 col-xs-12">
                    <a class="engine">
                      <img src="assets\sales-spec\motor.png" />
                      <div class="enginetag">Engine</div> 
                    </a>
                    <p>1198 cc</p>
                  </div>
                  <div class="transmission-wrap col-md-4 col-sm-4 col-xs-12">
                    <a class="transmission">
                      <img src="assets\sales-spec\transmission.png" />
                      <div class="transmissiontag">Transmission</div>
                    </a>
                    <p>Automatic</p>
                  </div>
                </div>

                <h5 class="price">current price: <span>Rs400,500</span></h5>
                <p class="vote"><strong>91%</strong> of buyers enjoyed this product!</p>
                <div class="action">
                  <button class="add-to-cart btn btn-default" type="button">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
