<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>CarDeal</h2>
        <p>CarDeal.com is Mauritius's leading car search venture that helps users buy cars that are right for them. Its
          website carry rich automotive content such as expert reviews, detailed specs and prices, comparisons as well
          as videos and pictures of all car brands and models available in India. The company has tie-ups with many auto
          manufacturers, more than 4000 car dealers and numerous financial institutions to facilitate the purchase of
          vehicles.</p>

        <!-- <div class="container">
          <div class="header">
            <h3>Popular brands we work with</h3>
          </div>
          <div class="row">
            <div class="col-md-2 col-xs-2">
              <img class="small-car" src="assets\logo\Audi.png" alt="HTML tutorial">
            </div>
            <div class="col-md-2 col-xs-2">
              <img class="small-car" src="assets\logo\Jaguar.png" alt="HTML tutorial">
            </div>
            <div class="col-md-2 col-xs-2">
              <img class="small-car" src="assets\logo\Chevrolet.png" alt="HTML tutorial">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2 col-xs-2">
              <img class="small-car" src="assets\logo\Ford.png" alt="HTML tutorial">
            </div>
            <div class="col-md-2 col-xs-2">
              <img class="small-car" src="assets\logo\Honda.png" alt="HTML tutorial">
            </div>
            <div class="col-md-2 col-xs-2">
              <img class="small-car" src="assets\logo\Land Rover.png" alt="HTML tutorial">
            </div>
          </div>
        </div> -->
        <div class="social-medias">
          <h3>Join us on our social medias!</h3>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-pinterest-square"></i>
        </div>

      </div>






      <div class="col-lg-4 col-xs-12 location">
        <h3 class="mt-lg-0 mt-sm-4">Location</h3>
        <p>22, La touche road, Avenue John Kennedy, <br> Vacoas</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i> (541) 754-3010</p>
        <p><i class="fa fa-envelope-o mr-3"></i> CarDeal@gmail.com</p>
        <br>
        <br>
    
      </div>

      <div class="col-lg-3 col-xs-12 links">
          <h3>New to car deal?</h3>
          <h4>Subscribe to our Newletter NOW!</h4>
          <input type="email" name="subscribe" placeholder="someone@example.com">
          <button class="btn btn-outline-light btn--fluid" type="submit" name="newsletter[gender]"
            value="male">Subscribe</button>
        </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</div>
