@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border-radius: 5px;
    background: #FFF;
    margin-bottom:20px;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.photo{
    background-color: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position:relative;
    border: 1px solid #ddd;
}
// .photo:hover{
//     background-color: #343a40;
//     transition: background-color .3s,color .2s;
// }


.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
    background-color: #343a40;
    color:white;
    border: 1px solid #ddd;
}
.col-item:hover .info.type
{
    background-color: white;
    color:#343a40;
    transition: background-color .3s,color .2s;
    border: 1px solid #ddd;
}

// .col-item:hover .info {
//     background-color: white;
//     color:#343a40;
//     transition: background-color .3s,color .2s;
//     border: 1px solid #ddd;
// }
.col-item:hover .info a{
    background-color: white;
    transition: background-color .3s,color .2s;
}

.col-item:hover .price-tag{
    background-color:white;
    transition: background-color .3s,color .2s;
    border: 1px solid #ddd;
}
.col-item.price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
    width:100%;

}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
    font-size: 20px;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    // text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.photo img{
    max-height:237px;
}

.btn-primary{
    background-color: #343a40;
    border-color: #343a40;
}
.btn-primary:hover{
    background-color: gray;
    border-color: gray;
    transition: background-color .3s,color .2s;
}

.row{
    margin-bottom: 15px;
    margin-left:0;
    margin-right:0;
}
.col-xs-4{
    padding-right: 5px;
    padding-left:5px;
}
.col-xs-3{
    padding-left:0;
    padding-right: 0;
}
.col-xs-9{
    padding-right: 0;
    padding-left: 0;
}

.price.col-xs-6{
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 600px){
    .btn-primary.btn{
        padding: 6px 6px;
    }
}


.price-text-color{
    color:#f7c143
}


.btn-details a{
    color:black;
}

.photo1{
    background-image:url(../../assets/sales-images/ford_350x260.png);
}

.price-tag{
    position:absolute;
    color:#f7c143;
    background-color: #343a40;
    padding: 10px;
    border-radius: 4px;
    margin-top:4px;
    margin-left:4px;
}


.slick-initialized .slick-slide{
    padding:10px;
}

.container{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color:white;
    padding:0;
   
}


.slick-list{
    width: 1500px;
    margin: 0 auto;
}
.container .title{
    text-align: left;
    margin-left: -10px;
    margin-right: -10px;
    border-bottom: 1px #eaeaea solid;
    margin-bottom: 10px;
    background: #343a40;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.container .title h2{
    color: #343a40;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
    padding: 22px 25px 22px 25px;
    position: relative;
    display: inline-block;
    font-family: 'Saira Condensed', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #f7c143;
    margin-top: 0px;
    min-width: 250px;
}

.container .title h2:after{
content: '';
    position: absolute;
    width: 60px;
    height: 100%;
    transform: skew(-35deg);
    right: -35px;
    top: 0;
    background-color: inherit;
    z-index: 0;
}

// CAROUSEL
// @media only screen and (min-width: 812px) {
//     width:1500px;
// } 
// @media only screen and (min-width: 1200px) {
//     .container{
//     width:1500px;
//     }
// } 

.photo.logo{
    border:none;
}


@media only screen and (max-width: 600px) {
    container {
      width: auto;
    }
  }

  @media only screen and (min-width: 1200px)
{
    .container{
    width:1500px;
    }
}

.info.type{
    background-color: #343a40!important;
}
.typelabel{
    text-align: center;
    color:white;
}
.row.type{
    margin-bottom: 0;
}

.photo img{
    border-radius:4px;
}

.typelabel h5{
    color:white;
}
.typelabel a:hover{
    color:white;
    text-decoration: none;
}

.wrapper{
}

.price:hover{
    cursor:pointer;
}
.col-item:hover{
    cursor: pointer;
}

.info .row a{
    color:white;
}

.info .row a:hover{
    color:white;
    text-decoration: none;
}
ul{
    background-color: white;
    margin-bottom: 0;
}