<!------ Include the above in your HEAD tag ---------->

<div class="container">

  <div class="row">
    <div class="row">
      <div class="col-md-9 col-xs-9">
        <h3>
          Featured Cars</h3>
      </div>
      <div class="col-xs-3 col-md-3">
        <!-- Controls -->
        <div class="controls pull-right ">
          <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic-1" data-slide="prev"></a><a
            class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic-1" data-slide="next"></a>
        </div>
      </div>
    </div>
    <div id="carousel-example-generic-1" class="carousel slide " data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\ford_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Sample Product</h5>
                      <h5 class="price-text-color">
                        $199.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs" >Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs" >More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\mitsubishi_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Sample Product</h5>
                      <h5 class="price-text-color">
                        $199.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\mercedes_PNG_2_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Sample Product</h5>
                      <h5 class="price-text-color">
                        $149.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\audi_small_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Next Product</h5>
                      <h5 class="price-text-color">
                        $199.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\bmw_PNG1702_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Sample Product</h5>
                      <h5 class="price-text-color">
                        $199.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\volkswagen_PNG1821_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Next Product</h5>
                      <h5 class="price-text-color">
                        $149.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="row">
      <div class="col-md-9 col-xs-9">
        <h3>
          Featured SUVs</h3>
      </div>
      <div class="col-md-3 col-xs-3">
        <!-- Controls -->
        <div class="controls pull-right ">
          <a class="left fa fa-chevron-left btn btn-primary" href="#carousel-example-generic" data-slide="prev"></a><a
            class="right fa fa-chevron-right btn btn-primary" href="#carousel-example-generic" data-slide="next"></a>
        </div>
      </div>
    </div>
    <div id="carousel-example-generic" class="carousel slide " data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\bmw_PNG1702_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Sample Product</h5>
                      <h5 class="price-text-color">
                        $199.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\bmw_PNG1702_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Sample Product</h5>
                      <h5 class="price-text-color">
                        $199.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\mercedes_PNG_2_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Sample Product</h5>
                      <h5 class="price-text-color">
                        $149.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\mercedes_PNG_2_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Next Product</h5>
                      <h5 class="price-text-color">
                        $199.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\mercedes_PNG_2_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Sample Product</h5>
                      <h5 class="price-text-color">
                        $199.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-xs-4">
              <div class="col-item">
                <div class="photo">
                  <img src="assets\sales-images\mercedes_PNG_2_350x260.png" class="img-responsive" alt="a" />
                </div>
                <div class="info">
                  <div class="row">
                    <div class="price col-md-6 col-xs-6">
                      <h5>
                        Next Product</h5>
                      <h5 class="price-text-color">
                        $149.99</h5>
                    </div>

                  </div>
                  <div class="separator clear-left">
                    <p class="btn-add">
                      <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">Add to
                        cart</a></p>
                    <p class="btn-details">
                      <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" class="hidden-xs">More
                        details</a></p>
                  </div>
                  <div class="clearfix">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Button POP UP -->
<h1>Build a Angular modal dialog with Angular Animate</h1>

<p>
  <a href="https://coryrylan.com/blog/build-a-angular-modal-dialog-with-angular-animate">Tutorial at coryrylan.com</a>
</p>

<button (click)="showDialog = !showDialog" class="btn">Open</button>

<app-dialog [(visible)]="showDialog">
  <div class="thumbnail">
    <h4 class="text-center"><span class="label label-info">Apple</span></h4>
    <img src="http://placehold.it/650x450&text=iPhone 6" class="img-responsive">
    <div class="caption">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <h3>iPhone 6</h3>
        </div>
        <div class="col-md-6 col-xs-6 price">
          <h3>
            <label>$749.99</label></h3>
        </div>
      </div>
      <p>32GB, 64Bit, 1080HD, 4.7 inches, iOS 8</p>
      <div class="row">
        <div class="col-md-6">
          <a class="btn btn-primary btn-product"><span class="glyphicon glyphicon-thumbs-up"></span> Like</a>
        </div>
        <div class="col-md-6">
          <a href="#" class="btn btn-success btn-product"><span class="glyphicon glyphicon-shopping-cart"></span>
            Buy</a></div>
      </div>

      <p> </p>
    </div>
  </div>
  <button (click)="showDialog = !showDialog" class="btn">Close</button>
</app-dialog>

<!-- Nice CAROUSEL -->
<!-- <carousel-component >
        <div class="item-carousel">a</div>
        <div class="item-carousel">
            <div class="b">
                <img src="https://www.losminionsaldia.com/images/mas-minions/minion.png" />
            </div>
        </div>
        <div class="item-carousel">c</div>
        <div class="item-carousel">d</div>
    </carousel-component> -->