@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.photo{
    background-color: #f7c143;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.photo:hover{
    background-color: #343a40;
}


.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
    background-color: #343a40;
    color:white;
}

// .col-item:hover .info {
//     background-color: gray;
// }
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
    width:100%;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    // text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}

.photo img{
    max-height:237px;
}

.btn-primary{
    background-color: #343a40;
    border-color: #343a40;
}
.btn-primary:hover{
    background-color: gray;
    border-color: gray;
    transition: background-color .3s,color .2s;
}

.row{
    margin-bottom: 15px;
    margin-left:0;
    margin-right:0;
}
.col-xs-4{
    padding-right: 5px;
    padding-left:5px;
}
.col-xs-3{
    padding-left:0;
    padding-right: 0;
}
.col-xs-9{
    padding-right: 0;
    padding-left: 0;
}

.price.col-xs-6{
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (max-width: 600px){
    .btn-primary.btn{
        padding: 6px 6px;
    }
}


.price-text-color{
    color:#f7c143
}


.btn-details a{
    color:white;
}

.photo1{
    background-image:url(../../assets/sales-images/ford_350x260.png);
}